* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/imagens/bg.jpg);
  opacity: 0.3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #ddbb78, #c99a50, #9c7132);
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.texto {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -65px;
}
p.sub {
  margin-top: 20px;
  font-size: 1.3em;
}
svg {
  width: 300px;
  animation: draw 8s ease;
  stroke-dasharray: 2500;
}
@keyframes draw {
  from {
    stroke-dashoffset: 2500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.logo {
  animation: flutter 3s infinite;
}
@keyframes flutter {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
text.cls-3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  stroke-width: 2px;
}
